* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
text-align: center;
}


img {
  display: block;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.column {
  float: left;
}

.row {
  clear: both;
}


div {
  padding: 35px;
}

.row {
  padding: 0px;
}
