@import url('https://fonts.googleapis.com/css?family=Shrikhand|Fredoka+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 5px;
  background-color: #FDF3E7;
}

h1 {
  text-align: center;
  font-family: "Fredoka One", sans-serif;
  font-weight: normal;
  font-size: 4em;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
  margin-left: 25%;
}

.column {
  float: left;
}

.row {
  clear: both;
}


div {
  padding: 35px;
}

.row {
  padding: 0px;
}
