@import url('https://fonts.googleapis.com/css?family=Shrikhand|Fredoka+One|Raleway');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  letter-spacing: 5px;
  background-color: #FDF3E7;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Fredoka One", sans-serif;
  font-weight: lighter;
}

header {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

#about {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0px;
  color: rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  border-top: 3px solid rgba(0,0,0,0.2);
  border-bottom: 3px solid rgba(0,0,0,0.2);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  line-height: 130%;
}

.right {
  letter-spacing: 0px;
  position: fixed;
  right: 0;
  text-transform: uppercase;
}

header a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  padding-left: 30px;
  display: inline-block;
}

header a:hover {
  color: rgba(255,255,255,0.9);
}

header a:active {
  color: rgba(0,0,0,0.5);
}

#about a {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
}

#about a:hover {
  color: rgba(255,255,255,1);
  font-weight: bold;
}

#about a:active {
  color: rgba(0,0,0,0.5);
}

img {
  border-radius: 5px;
  box-shadow: 0px 10px 25.5px 2px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 4em;
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  margin-top: 70px;
}

p {
  width: 60%;
  margin: auto;
  text-align: justify;
  padding: 20px 0px;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 70%;
  margin-left: 15%;
}

.column {
  float: left;
}

.row {
  clear: both;
}


div {
  padding: 35px;
  z-index: 5;
}

#aboutMe div {
  padding: 0px;
}

.row {
  padding: 0px;
}

/* Contact Page */

.container {
  width: 100%;
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 125px;
  background-color: rgba(0,0,0,0.1);
  border-top: 3px solid rgba(0,0,0,0.2);
  border-bottom: 3px solid rgba(0,0,0,0.2);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  padding-top: 50px;
}

.container h2 {text-transform: uppercase;}

.center {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Raleway";
  text-transform: uppercase;
}

.icons {
  margin-top: -30px;
  font-size: 4rem;
}

i {
  color: rgba(0,0,0,0.4);
}

.icons i:hover {
  color: rgba(255, 255, 255,1);
}

.icons i:active {
  color: rgba(0, 0, 0, 0.8);
}

a.info {
  display: inline-block;
  width: 200px;
  margin: auto;
  padding: 15px;
  color: rgba(0,0,0,0.3);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  font-family: Orbitron, sans-serif;
  letter-spacing: 3px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: bold;
}

a.info:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

a.info:active {
  background-color: rgba(0, 0, 0, 0.5);


}

.button {
  width: 100%;
  margin-top: 50px;
  background-color: rgba(0,0,0,0.1);
  border-top: 3px solid rgba(0,0,0,0.2);
  border-bottom: 3px solid rgba(0,0,0,0.2);
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(0,0,0,0.3);
}

.gallery {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

.gallery i {
  color: rgba(0,0,0,0.5);
  font-size: 2rem;
  margin-top: 5px;

}



@media screen and (max-width: 1600px) {
  .col-6 {
    width: 80%;
    margin-left: 10%;
  }

  h1 {
    font-size: 3em;
  }
}


@media screen and (max-width: 1300px) {
  h1 {
    font-size: 2.75em;
  }

  p {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.75em;
  }
}
